html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color:#ffffff;
  border:0;
  background: url(./images/IMG_20160901_181150.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 16px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#ffffff;
  font-family: 'Courier New', Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1 {
  font-size: 36px;
  text-align: right;
  margin-right: 10px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: right;
  margin-right: 10px;

}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin-bottom: 15px;
  list-style: inside;
  padding-left: 20px;
}

#servicelist{
  width:50%;
  min-width:200px;
  padding:0;
  margin:auto;
  list-style-type: none;
  display: table;
  table-layout: fixed;
}

#servicelist li{
  display:table-cell;
}

#servicelist img{
  width:75px;
  display:block;
  margin:auto;
  vertical-align:middle;
  opacity: 0.8;
}

#servicelist img:hover{
  opacity: 1.0;
}

#sub{
  padding:0;
  margin:0;
}

#title{
  margin-bottom:0;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#main_content_wrap{
  min-height:500px;
}

#main_content {
  position:absolute;
  margin:auto;
  top:50%;
  left:25%;
  width:50%;
  max-width:none;
  padding:0;
}

header{
  padding-left:3%;
}

footer{
  width:100%;
  padding-right:1em;
  text-align: right;
  position:absolute;
  bottom:0;
}
